body {
  overscroll-behavior-y: contain;
  font-family: Arial, Helvetica, sans-serif;
}

.setup-table {
  width: 100%;
}


td, th {
  width: 25%;
  text-align: center;
}

input {
  width: 50%;
  text-align: center;
}

button {
  width: 20%;
}
